/server/dist
/server/.cabal-sandbox 
/server/cabal.sandbox.config

/client/dist
/client/tmp
/client/node_modules
/client/bower_components
/client/.sass-cache
/client/connect.lock
/client/coverage/*
/client/libpeerconnection.log
/client/npm-debug.log
/client/testem.log
