persist {
  postgre-con-str   = "dbname=phb_dev"
}

mail {
  fromName  = "Ben Kolera"
  fromEmail = "bkolera@example.com"
  hostname  = "phb.example.com.au"
}

ldap {
  hostname = "ldap.example.com"
  baseDn   = "dc=example,dc=com"
}

