body {
    padding-top: 45px;
}

h1 , .h1 {
    font-size: 28px;
}

h2 , .h2 {
    font-size: 24px;
}

.fake-pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.status-green {
    background-color: #93F562;
}

.status-amber {
    background-color: #FFFF99;
}

.status-red {
    background-color: #FD3333;
}

.status-blue {
    background-color: #99CCFF;
}

.status-gray {
    background-color: #DDDDDD;
}

.table-centered>tbody>tr>td, .table-centered>thead>tr>th {
    text-align: center;
}

table>tbody>tr:last-child>td {
    border-bottom: 1px solid #DDDDDD;
}

#message-container {
    position: fixed;
    top: 70;
    right: 0;
    width: 300px;
    z-index: 9999;
}

.subform-heading {
    text-align: center;
    font-size: 12px;
}
.doughnut-legend {
  list-style: none;
  right: 8px;
  top: 0;
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}