<h1>Customers</h1>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th width="20px"></th>
      </tr>
    </thead>
    <tbody>
{{#each model as |x|}}
    <tr>
        <td>{{x.customerName}}</td>
        <td>{{#link-to 'customers.customer.edit' x.customerId class="btn "}}<i class="fa fa-edit"></i> Edit{{/link-to}}</td>
    </tr>
{{/each}}
    </tbody>
</table>

{{#link-to 'customers.create' class="btn btn-success btn-small"}}<i class="fa fa-plus"></i> New Customer{{/link-to}}
